<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <div class="chat-nav-bar">
      <a href="javascript:history.back()"><img src="../public/images/backbtn.png" width="12" height="12"></a>
      <div class="chat-user-info">
        <div class="user-profile-image" style="background-image: url(<%= user.photo[0] %>);"> </div>
        <p><%= user.first_name %></p>
      </div>
    </div>
    
    <div class="container">
      <div id="chats" class="chats"></div>

      <div class = "msgsend-container">
        <!-- only appear if click on report -->
        <div id ="iceBreak" class ="iceBreak" style="display: none;">
            <div class = "showQ">
              <input type ="button" class="iceQ" value ="Pinapple on pizza: yes or no?"/>
              <input type ="button" class="iceQ" value ="Where did you group up?"/>
              <input type ="button" class="iceQ" value ="What do you like to do for fun?"/>
            </div>

            <div class = "showQ">
              <input type ="button" class="iceQ" value ="What's your favourite song?"/>
              <input type ="button" class="iceQ" value ="Do you have any pet?"/>
              <input type ="button" class="iceQ" value ="What's your favourite movie?"/>
            </div>

            <div class = "showQ">
              <input type ="button" class="iceQ" value ="What is your absolute dream job?"/>
              <input type ="button" class="iceQ" value ="Coffee, Tea, or neither?"/>
              <input type ="button" class="iceQ" value ="Beer, wine, or cocktail?"/>
             </div>

            <div class = "showQ">
              <input type ="button" class="iceQ" value ="What is the strangest habit you have?"/>
              <input type ="button" class="iceQ" value="What superpower do you want to have?"/>
              <input type ="button" class="iceQ" value ="What's one food you can't live without?"/>
              </div>

              <div class = "showQ">
                <input type ="button" class="iceQ" value ="What is your most used emoji?"/>
                <input type ="button" class="iceQ" value="What do you do for exercise?"/>
                <input type ="button" class="iceQ" value ="Describe the best date you’ve been on."/>
                </div>
        </div>

        <form id="message-form">        
          <img src="/public/images/Blocks.svg" onclick="showIceBreak()">
          <input type="text" name="message" placeholder="Type a message" id= "textbox">
          <!-- <input type="hidden" name="user" value=" user.first_name %>"> -->
          <input id="_user" type="hidden" value="<%= match._user %>">
          <input id="_secondUser" type="hidden" value="<%= match._secondUser %>">
          <input id="room" type="hidden" value="<%= match.room %>">
          <button type="submit" id="submit-btn"></button>
        </form>
      </div>
    </div>
    <%- include('_footer_zodiac.ejs') %>  
  
  </body>     
  
  <script>
      heightCalculation("#chats",330)
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src ="/chat.js"></script>
  <script type="text/javascript" src ="/moment.js"></script>

</html>