<!DOCTYPE html>
<html>
    <%- include('_header.ejs') %>
  <body class="background-white">
    <%- include('_nav_bar.ejs') %>

    <!-- input bar -->
    <form action="submit" method="post">
        <div class = "searchInput">
            <input type="search"  name="search Matches" placeholder="Search Matches" >
        </div>
    </form>

    <div class = "matchTab-buttons"  >
        <button name= "matchTab" id = "matchTab" onclick="showMatch()">Matches</button>
        <button id = "chatTab" onclick="showChat()">Chat</button>
    </div> 
        <!-- Matches page -->
        <div  id = "pageMatches"class = "pageMatches" style ="display:show" >
            <div id="luckyMatch">
            <p>Send these Lucky matches a message!</p>
            </div>
            <div class = "roundProfile-wrapper">
                <% for (var key in newUser) { %>
                   <div class = "photo">
                        <a href="/chat/<%=newUser[key]._id%>">
                            <div class="user-profile-image" style="background-image: url(<%=newUser[key].photo[0]%>);"></div>
                        </a>
                        <div class = "name"><%= newUser[key].first_name %></div> 
                    </div>
                <% } %>   
            </div>
        </div>

        <div  id = "pageChat" class = "pageChat" style="display:none">
          <div class = "userList-container">
            <% for (var key in newUser) { %>
              <div class = "content-wrapper user-wrapper">
                <div class="user-profile-image" style="background-image: url(<%=newUser[key].photo[0]%>);"> </div>
                    <a href="/chat/<%= newUser[key]._id%>"> <%= newUser[key].first_name %> </a>
                        <div class = "load_chat">
                            <div class = "dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            </div>
                            <div class = "reportMatch" style="display: none;">
                            <a button class="unmatch">Unmatch</a> 
                            <a button class="report">Report</a>
                            </div>
                        </div>
                </div>

                <!--<h3><%= newUser[key]._id%></h3>-->
            <% } %>
            
          </div>
        <script src="/socket.io/socket.io.js"></script>  
       </div>

       <!-- only appear if click on report -->
       <div id ="pageReport" class ="pageReport overlay" style="display: none;">
            <span id="closeX">X</span>
            <div class = "reportText">
            <h3>What is the reason for your report?</h3>
            <p>Shh.. We won't tell this person</p>
            </div>
            <div class = "reportBtn"> 
                <a button> Fake profile/Spam</a>
                <a button> Inappropriate messages</a>
                <a button> Inappropriate profile picture</a>
                <a button> Someone is in danger</a>
                <a button> Offline behavior </a>
            </div>
        </div>
  </body> 
</html>
