<!DOCTYPE html>
<html>
    <%- include('_header.ejs') %>
  <body class="background-white">
    <%- include('_nav_bar.ejs') %>

    <!-- input bar -->
    <form action="submit" method="post">
        <div class = "searchInput">
            <input type="search" onkeyup="searchUsers(event)" id="searchInput" name="search Matches" placeholder="Search Matches" >
        </div>
    </form>

    <div class = "matchTab-buttons" >
        <button name= "matchTab" id = "matchTab" onclick="showMatch()">Matches</button>
        <button id = "chatTab" onclick="showChat()">Chat</button>
    </div> 
        <!-- Matches page -->
        <div  id = "pageMatches"class = "pageMatches" style ="display:show" >
            <div id="luckyMatch">
            <p>Send these Lucky matches a message!</p>
            </div>
            <div class = "roundProfile-wrapper">
                <% for (var key in newUser) { %>
                   <div class = "photo userdetails">
                        <a href="/chat/<%= newUser[key]._id%>">
                            <div class="user-profile-image" style="background-image: url(<%= newUser[key].photo[0] %>);"></div>
                        </a>
                        <div class = "name"><%= newUser[key].first_name %></div> 
                    </div>
                <% } %>   
            </div>
        </div>

        <div  id = "pageChat" class = "pageChat" style="display:none">
          <div class = "userList-container">
            <% for (var key in newUser) { %>
              <div class = "content-wrapper user-wrapper userdetails" id="user-<%= newUser[key]._id %>">
                <div class="user-profile-image" style="background-image: url(<%= newUser[key].photo[0] %>);"> </div>
                    <a class="name" href="/chat/<%= newUser[key]._id %>"> <%= newUser[key].first_name %> </a>
                        <div class = "load_chat">
                            <div class = "dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            </div>
                            <div class = "reportMatch" style="display: none;">
                            <a button class="unmatch" id="<%= newUser[key]._id %>" onclick="unMatch(event)">Unmatch</a> 
                            <a button class="report">Report</a>
                            </div>
                        </div>
                </div>

                <!--<h3><%= newUser[key]._id%></h3>-->
            <% } %>
            
          </div>
        <script src="/socket.io/socket.io.js"></script>  
       </div>

       <!-- only appear if click on report -->
       <div id ="pageReport" class ="pageReport overlay" style="display: none;">
            <span id="closeX">X</span>
            <div class = "reportText">
            <h3>What is the reason for your report?</h3>
            <p>Shh.. We won't tell this person</p>
            </div>
            <div class = "reportBtn"> 
                <a button> Fake profile/Spam</a>
                <a button> Inappropriate messages</a>
                <a button> Inappropriate profile picture</a>
                <a button> Someone is in danger</a>
                <a button> Offline behavior </a>
            </div>
        </div>
        <script>
            function unMatch(e) {
                e.preventDefault();
                const unmatchUserId = e.target.id;
                console.info('unmatch user id: ', unmatchUserId);
                $.ajax({
                    type: 'POST',
                    url: '/unmatch',
                    data: { userId : unmatchUserId},
                    success: function(response) {
                        console.log('UnMtach Success: ', response);
                        $("#user-" + unmatchUserId).remove();
                    },
                    error: function(err) {
                        console.log('Unmatch Error: ', err);
                    }
                });
            }
            function searchUsers(event) {
                var searchText = event.target.value.toUpperCase();
                $(".userdetails").each(function(idx, user) {
                    var name = $(user).find('.name');
                    var username = $(name).text().toUpperCase();
                    if (username.indexOf(searchText) >= 0) {
                        $(user).css('display', 'grid');
                    } else {
                        $(user).css('display', 'none');
                    }
                })
            }
        </script>
  </body> 
</html>
