<!DOCTYPE html>
<html lang="en">

<%- include('_header.ejs') %>

<body class="background-white" onload="showSlides(1)">

  <%- include('_nav_bar.ejs') %>
  
  <div class="user-container">
    <div class="intro-container-profile">
      <div class="slideshow-container">
        <% for (var key in secondUser.photo) { %>
          <div class="mySlides fade">
            <img src=<%= secondUser.photo[key] %> >
          </div>  
        <% } %>
      </div>

      <div style="text-align:center; margin-bottom: 5%">
        <% for (let i =0 ; i<secondUser.photo.length; i++ ) { %>
          <span class="dot" onclick=currentSlide(<% i%>)></span>
          
        <% } %>

      </div>

      <div class="nameBox">
        <h2>
          <%= secondUser.first_name %>
            <span class="age">
              <%= secondUser.age %>, <%= secondUser.zodiac%>
            </span>
        </h2>
        <span class="info">
          <p><%= secondUser.bio %></p>
          <p><%= secondUser.calculatedDistance %> km away!</p>
          <p>Lives in <%= secondUser.city %>, <%= secondUser.province %></p>
        </span>
      </div>   

      <div class="slideSign">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

    </div>
  </div>

  <div class="choice">
    <form action="dislike" method="post">
      <input type="hidden" name="rating" value="<%= secondUser._id %>">
      <input type="submit" class="dislike" value="">
    </form>
    <form action="like" method="post">
      <input type="hidden" name="rating" value="<%= secondUser._id %>">
      <input type="submit" class="like" value="">
    </form>
  </div>


  <%- include('_footer_cross.ejs') %>
  <script src="/vendor/swipe.js"></script>
  <script>
    $(window).on("load resize", function () {
      let windowHeight = $(window).height();
      let nav_bar_height = $('.nav-bar').outerHeight( true );
      let footer_height = $('.footer').outerHeight( true );
      let choices_height = $('.choice').outerHeight( true );
      $('.user-container').outerHeight( windowHeight - nav_bar_height - footer_height - choices_height);
    });

    $('.slideshow-container').onSwipe(function(results) {
      if (results.right === true) {
        plusSlides(1)
      }
      if (results.left === true) {
        plusSlides(-1)
      }
    })
  </script>
</body>

</html>