<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_bold_nav_bar.ejs') %>
      <div class="intro-container photo-text">
        <form action="edit_photo" method="post" enctype="multipart/form-data" >      
        <h1>Photo</h1>
        <p>Let me see that smile!<br> Add a minimum of 3 pictures</p>  
      </div>  

      <div class="photo-container"> 
        <% if(locals.message){ %>
          <div class="error-message">
              <%= message.error%>
          </div>
          <% } %>

        <div class = "photo-wrapper">
          <div class="box">
            <div class="image-preview" id="background1" style="background-image:url(<%=user.photo[0]%>);"></div>
            <div class="upload-options">
              <label class="delete" name="delete" id="1">
                <input name="photo" type="file" class="image-upload" accept="image/*" />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview" id="background2" style="background-image:url(<%=user.photo[1]%>);"></div>
            <div class="upload-options">
              <label class="delete" name="delete" id="2">
                <input name="photo" type="file" class="image-upload" accept="image/*"/>
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview" id="background3" style="background-image:url(<%=user.photo[2]%>);"></div>
            <div class="upload-options">
              <label class="delete" name="delete" id="3">
                <input name="photo" type="file" class="image-upload" accept="image/*" />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview" id="background4" style="background-image:url(<%=user.photo[3]%>);"></div>
            <div class="upload-options">
              <label class="delete" name="delete" id="4">
                <input name="photo" type="file" class="image-upload" accept="image/*" />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview" id="background5" style="background-image:url(<%=user.photo[4]%>);"></div>
            <div class="upload-options">
              <label class="delete" name="delete" id="5">
                <input name="photo" type="file" class="image-upload" accept="image/*" />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview" id="background6" style="background-image:url(<%=user.photo[5]%>);"></div>
            <div class="upload-options">
              <label class="delete" name="delete" id="6">
                <input name="photo" type="file" class="image-upload" accept="image/*" />
              </label>
            </div>
          </div>
        </div>
        <div class = "bio-container">
          <p>Add a bio to compliment <br> those amazing photos!</p>
          <textarea id="bio" name="bio" ><%= user.bio %></textarea>
        </div>
      </div>

      <input type="hidden" name="registerStep" value="done">
        <div class="nextBtn-wrapper">
          <button class="nextBtn">Confirm</button>
        </div>
      </form> 


  <script type="text/javascript" src="/photo.js"></script>

    <script>
      heightCalculation(".photo-container",320)
    </script>

    <script>
    
      $('.delete').click(function(e) {
        e.preventDefault
        var index = $(this).attr('id')
        var background = "#background" + index;
        console.log(background)
        $(`${background}`).css("background-image","none");

        $.ajax({
          type: 'PUT',
          url: '/edit_photo',
          data: {index},
          success: function (response ) {
            console.log("Yes?")
            window.location.href = '/edit_photo';
          },
          error: function(err) {
            console.log("Np?")
            window.location.reload();
          }
        });
      })
    </script>
  </body> 
  
</html>