<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>

    <div class="photo-container">

      <form action="edit_photo" method="post" enctype="multipart/form-data" >      
      <h2>Let me see that smile!</h2>
      <p>Add a minimum of 3 pictures </p>    
        <div class = "photo-wrapper">
          <div class="box">
            <div class="image-preview"></div>
            <div class="upload-options">
              <label>
                <input name="photo" type="file" class="image-upload" value="<%= user.photo[0] %>" accept="image/*" required />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview"></div>
            <div class="upload-options">
              <label>
                <input name="photo" type="file" class="image-upload" value="<%= user.photo[1] %>" accept="image/*" required  />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview"></div>
            <div class="upload-options">
              <label>
                <input name="photo" type="file" class="image-upload" value="<%= user.photo[2] %>" accept="image/*" required  />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview"></div>
            <div class="upload-options">
              <label>
                <input type="file" class="image-upload" value="<%= user.photo[3] %>" accept="image/*" />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview"></div>
            <div class="upload-options">
              <label>
                <input type="file" class="image-upload" value="<%= user.photo[4] %>" accept="image/*" />
              </label>
            </div>
          </div>

          <div class="box">
            <div class="image-preview"></div>
            <div class="upload-options">
              <label>
                <input type="file" class="image-upload" value="<%= user.photo[5] %>" accept="image/*" />
              </label>
            </div>
          </div>
        </div>

        <div class = "bio-container">
          <p>Add a bio to compliment those <br>amazing photos!</p>
          <textarea id="bio" name="bio" placeholder="Enter here..." > <%= user.bio %></textarea>
        </div>

        <input type="hidden" name="registerStep" value="done">
        <div class="nextBtn-wrapper">
          <button class="nextBtn">Confirm</button>
        </div>
      </form> 
    </div>

  <script type="text/javascript" src="/photo.js"></script>
  <script>
    $("#bio").click(function (e) {
      $("#bio").val("");
    });
  </script>
  </body> 
  
</html>