<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <%- include('_nav_bar.ejs') %>
    
    <div class="container container-profile d-flex align-items-center flex-column">
      <div class="img-container-profile mt-2">
        <img class="img img-fluid rounded-circle profile-image" src="./images/image<%= profileid %>.jpg" alt="user image" />
      </div>
      <div class="details-container mt-2 d-flex flex-column align-items-center">
        <h2><strong><%= name %>, <%= age %></strong></h2>
        <p><strong><%= horoscope.toUpperCase() %></strong></p>
      </div>
      <div class="btn-container d-flex flex-column">
        <a class="btn-profile btn mt-2 btn-rounded" href="<%= profileid %>/filters">Edit Info</a>
        <a class="btn-profile btn mt-2 btn-rounded" href="<%= profileid %>/edit">Filters</a>
        <a class="btn-profile btn mt-2 btn-rounded">FAQ</a>
      </div>
      <div class="logout-container mt-2">
        <button class="btn btn-rounded btn-danger btn-logout">Logout</button>
      </div>
    </div>

    <div class="footer footer-container">
      <button class="btn btn-footer btn-light-yellow btn-rounded">Account</button>
      <button class="btn btn-footer btn-horoscope-icon btn-light-yellow rounded-square rounded-circle btn-rounded">
        <img width="30px" height="30px" src="./images/horoscope/<%= horoscope %>.svg" />
      </button>
      <button class="btn btn-footer btn-light-yellow btn-rounded">Matches</button>
    </div>
  </body>
</html>
