<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="profile-container">
      <div class="img-container-profile mt-2">
        <div class="user-profile-image" style="background-image: url(<%=user.photo[0]%>);"> </div>
      
      </div>  

      <div class="profile-detail">
        <h2><strong> <%= user.first_name %> , <%= user.age %>  </strong></h2>
        <p><%= user.zodiac %> </p>
      </div>
      <div class="btn-container">        
        <a class="btn-profile btn-rounded" href="filters">Filters</a>
        <a class="btn-profile btn-rounded" href="info">Edit Info</a>
        <a class="btn-profile btn-rounded" href="faq">FAQ</a>
      
        <div class="logout-container">
          <a href="/logout" class="btn-rounded btn-danger btn-logout" style="text-decoration: none;">Logout</a>
        </div> 
    </div>
    </div>
      <script>heightCalculation(".profile-container",180)</script>
    <%- include('_footer_zodiac.ejs') %>
  </body>
</html>
