<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/vendor/nouislider.min.css" />
  <link rel="stylesheet" href="/main.css" />
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">      
      <div class="container-edit">
        <form action="/updateprofile" method="post">
        <div class="btn-container">
          <h3>Who do you want to see?</h3>
            <div class="age-container">
              <label for="age">Age</label>
              <input type="hidden" name="minage" id="range-age-min">
              <input type="hidden" name="maxage" id="range-age-max">
              <div id="slider-range-age"></div>
            </div>
            <div class="distance-container">
              <label for="distance-range">Distance</label>
              <input type="hidden" name="distance" id="range-distance">
              <div id="distance-range"></div>
            </div>
            <div class="personal-chars">
              <div class="char-prop">
                <input type="radio" name="toSee" id="Straight" value="Straight" <%= toSee == "Straight" ? "checked" : "" %> />
                <label for="Straight">Straight</label>
              </div>
              <div class="char-prop">
                <input type="radio" name="toSee" id="Gay" value="Gay" <%= toSee.trim() == "Gay" ? "checked" : "" %> />
                <label for="Gay">Gay</label>
              </div>
              <div class="char-prop">
                <input type="radio" name="toSee" id="Queer" value="Queer" <%= toSee.trim() == "Queer" ? "checked" : "" %> />
                <label for="Queer">Queer</label>
              </div>
              <div class="char-prop">
                <input type="radio" name="toSee" id="Asexual" value="Asexual" <%= toSee.trim() == "Asexual" ? "checked" : "" %> />
                <label for="Asexual">Asexual</label>
              </div>
              <div class="char-prop">
                <input type="radio" name="toSee" id="Bisexual" value="Bisexual" <%= toSee.trim() == "Bisexual" ? "checked" : "" %> />
                <label for="Bisexual">Bisexual</label>
              </div>
            </div>
            <button type="submit" class="btn-profile">Confirm</a>
            </div>
          </form>
      </div>

      <div class="footer footer-container">
        <button class="btn btn-footer">Account</button>
        <button class="btn btn-footer btn-horoscope-icon">
          <img width="30px" height="30px" src="../images/horoscope/aries.svg" />
        </button>
        <button class="btn btn-footer">Matches</button>
      </div>
      <script src="/vendor/nouislider.min.js"></script>
      <script>
        var ageMinInp = document.getElementById('range-age-min');
        var ageMaxInp = document.getElementById('range-age-max');
        var distanceInp = document.getElementById('range-distance');
        var sliderRangeAge = document.getElementById("slider-range-age");
        var minage = <%= minage ? minage : 25 %>;
        var maxage = <%= maxage ? maxage : 45 %>;
        var distance = <%= distance ? distance : 50 %>;

        noUiSlider.create(sliderRangeAge, {
          start: [minage, maxage],
          tooltips: [true, true],
          connect: true,
          step: 1,
          range: {
            min: 18,
            max: 65,
          },
        });

        var bigValueSlider = document.getElementById("distance-range");
        noUiSlider.create(bigValueSlider, {
          range: {
            min: 0,
            max: 100,
          },
          step: 1,
          tooltips: [true],
          start: [distance],
          pips: { mode: "count", values: 5 },
        });

        sliderRangeAge.noUiSlider.on('update', function (values, handle) {
          var value = parseInt(values[handle]);
          if (handle) {
            ageMaxInp.value = value;
          } else {
            ageMinInp.value = value;
          }
        });

        bigValueSlider.noUiSlider.on('update', function (values, handle) {
          var value = parseInt(values[handle]);
          distanceInp.value = value;
        });
      </script>
    </div>
  </body>
</html>
