<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>

  </head>
  <body>
    <%- include('_nav_bar.ejs') %>

    <div class="intro-container">

      <h1>Personal Info</h1>
      <h1>(OPTIONAL)</h1>
      <h1><%= user.first_name %></h1>

      <form action="edit_work" method="post">

        <div class="content-wrapper">
        <h2>Job Title</h2>
          <input type="job" id="autocomplete" name="job" placeholder="Enter here" value="<%= user.job %>">
        
        <h2>Education</h2>
          <input type="education" id="inputCity" name="education" placeholder="Enter here" value="<%= user.education %>">
        
        <h2>Hobbies</h2>
          <input type="hobbies" id="inputState" name="hobbies" placeholder="Enter here" value="<%= user.hobbies%>">
  

        </div>
        
        <input type="hidden" name="registerStep" value="4">

    
        <button type="submit" class="confirmBtn">Confirm</button>

      </form> 
    </div>

    
  </body> 
  
</html>










 