 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>

  </head>
  <body>
    <%- include('_nav_bar.ejs') %>

    <div class="intro-container">

      <h1>Address</h1>
      <h1><%= user.first_name %></h1>

      <form action="edit_address" method="post">

        <div class="content-wrapper">
          <input type="street" id="autocomplete" name="street" placeholder="Street" value="<%= user.street %>">
  
          <input type="city" id="inputCity" name="city" placeholder="City" value="<%= user.city %>">
  
          <input type="province" id="inputState" name="province" placeholder="Province" value="<%= user.province %>">
  
          <input type="zip" id="inputZip" name="zip" placeholder="Zip" value="<%= user.zip %>">
  
          <input type="country" id="inputCounty" name="country" placeholder="County" value="<%= user.country %>">
        </div>
        
        <input type="hidden" name="registerStep" value="4">

    
        <button type="submit" class="confirmBtn">Confirm</button>

      </form> 
    </div>

    
  </body> 
  
</html>










 