<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>

  </head>
  <body>
    <%- include('_nav_bar.ejs') %>

    <h1><%= user.first_name %></h1>

    <div class="intro-container">

      <form action="edit_orientation" method="post">
        <h2>I identify as...</h2>
          <div class="content-wrapper">
            <label class="orientation">Straight
              <input type="radio" name="sex" value="straight" <%= user.sex === "straight" ? "checked" : "" %> >
              <span class="checkmark"></span>
            </label>

            <label class="orientation">Gay
              <input type="radio" name="sex" value="gay" <%= user.sex === "gay" ? "checked" : "" %> >
              <span class="checkmark"></span>
            </label>

            <label class="orientation">Queer
              <input type="radio" name="sex" value="queer" <%= user.sex === "queer" ? "checked" : "" %> >
              <span class="checkmark"></span>
            </label>
            <label class="orientation">Asexual
              <input type="radio" name="sex" value="asexual" <%= user.sex === "asexual" ? "checked" : "" %> >
              <span class="checkmark"></span>
            </label>

            <label class="orientation">Bisexual
              <input type="radio" name="sex" value="bisexual" <%= user.sex === "bisexual" ? "checked" : "" %> >
              <span class="checkmark"></span>
            </label>

          </div>

          <h2>I want to see...</h2>
          <div class="content-wrapper">
            <label class="orientation">Women
              <input type="radio" name="toSee"  value="women" <%= user.toSee === "women" ? "checked" : "" %> >
              <span class="checkmark"></span>
            </label>
            <label class="orientation">Men
              <input type="radio" name="toSee" value="men" <%= user.toSee === "men" ? "checked" : "" %> >
              <span class="checkmark"></span>
            </label>
            <label class="orientation">Everyone
              <input type="radio" name="toSee" value="everyone" <%= user.toSee === "everyone" ? "checked" : "" %> >
              <span class="checkmark"></span>
            </label>
          </div>

        
        <input type="hidden" name="registerStep" value="4">

        <button type="submit" class="confirmBtn">Confirm</button>

      </form> 
    </div>

    
  </body> 
  
</html>