<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width" />
  <!-- <link rel="stylesheet" href="profile.css"> -->

  <%- include('_header.ejs') %>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet" />
    <style>
        .match-container {
            border: 10px solid white;
            border-radius: 30px;
        }
        .intro-container-profile {
            padding: 10%;
            margin-bottom: 20px;
        }
        .profile-like-container {
            display: flex;
            flex-direction: column;
            background-image: url('/images/constellations.png');
            border-radius: 15px;
            height: 500px;
            border: 30px blueviolet;
            box-sizing: border-box;
        }
        .match-title {
            margin: 0px;
            padding: 10px;
            text-align: center;
        }
        .match-like-pics {
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;
        }
        .match-like-pics img {
            width: 110px;
            height: 110px;
            border: 3px solid white;
        }
        .match-btn-container {
            margin-top: auto;
            bottom: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 120px;
            justify-content: center;
        }
        .match-btn {
            background-color: #fdda7f;
            border-radius: 50px;
            border: 6px solid rgb(187, 166, 117);
            margin: auto;
            width: 80%;
            height: 40px;
            font-weight: bold;
            align-items: center;
            display: inline-flex;
            justify-content: space-around;
            font-size: 15px;
            text-decoration: none;
            color: unset;
        }
        h2 {
            font-family: "Shrikhand", cursive;
        }
    </style>
</head>
<body>

    <%- include('_nav_bar.ejs') %>

<div class = "intro-container-profile">
     <!-- Slideshow container -->
    <div class="match-container">
        <!-- Full-width images with number and caption text -->
        <div class="profile-like-container">
            <!-- information -->
            <h2 class="match-title" style="color: white;">Congratulations !</h2>
            <h2 class="match-title" style="color: white;">It's A Match</h2>
            <h4 class="match-title" style="color: white;">You and Santra like each other</h4>
            <div class="match-like-pics">
                <img class="img-fluid rounded-circle profile-image" src="/upload/<%= profilePic %>" alt="guest image">
                <img class="img-fluid rounded-circle profile-image" src="/upload/<%= data.photo %>" alt="guest image">
            </div>
            <div class="match-btn-container">
                <a class="match-btn dislike">Send Message</a> 
                <a href="/browse" button class="match-btn like">Keep Swiping</a>
            </div>
        </div>
    </div>
</div>    


<%- include('_footer 2.ejs') %>
</body>
</html>