<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/main.css" />
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">
      <div class="container container-profile d-flex align-items-center flex-column">
        <div class="img-container-profile mt-2">
          <img class="logo1 img img-fluid rounded-circle profile-image" src="../upload/<%= photo[0] ? photo[0] : '1620107578796.jpg' %>" alt="user image" />
        </div>
        <div class="details-container mt-2 d-flex flex-column align-items-center">
          <h2><strong><%= first_name %>, <%= age %></strong></h2>
          <p><strong><%= birthday %></strong></p>
        </div>
        <div class="btn-container col-10 d-flex flex-column">
          <a class="btn-profile col-10 btn mt-2 btn-rounded" href="/filters">Filters</a>
          <a class="btn-profile col-10 btn mt-2 btn-rounded" href="/edit">Edit Info</a>
          <a class="btn-profile col-10 btn mt-2 btn-rounded">FAQ</a>
        </div>
        <div class="logout-container">
          <a href="/logout" class="btn btn-rounded btn-logout">Logout</a>
        </div>
      </div>

      <div class="footer footer-container">
        <button class="btn btn-footer btn-light-yellow btn-rounded">Account</button>
        <button class="btn btn-footer btn-horoscope-icon btn-light-yellow rounded-square rounded-circle btn-rounded">
          <img width="30px" height="30px" src="/images/horoscope/cancer.svg" />
        </button>
        <button class="btn btn-footer btn-light-yellow btn-rounded">Matches</button>
      </div>
    </div>
  </body>
</html>
