<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/main.css" />
  <%- include('_header.ejs') %>

  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">
      <div
        class="
          container container-profile
          d-flex
          align-items-center
          flex-column
        "
      >
        <div class="img-container-profile mt-2">
          <img
            class="logo1 img img-fluid rounded-circle profile-image"
            src="../upload/<%= photo[0] ? photo[0] : '1620107578796.jpg' %>"
            alt="user image"
          />
        </div>
        <div
          class="details-container mt-2 d-flex flex-column align-items-center"
        >
          <h2><strong> <%= first_name %>, <%= age %> </strong></h2>
          <p><strong> <%= birthday %> </strong></p>
        </div>
        <div class="btn-container col-10 d-flex flex-column">
          <a class="btn-profile col-10 btn mt-2 btn-rounded" href="/filters"
            >Filters</a
          >
          <a class="btn-profile col-10 btn mt-2 btn-rounded" href="/edit"
            >Edit Info</a
          >
          <a class="btn-profile col-10 btn mt-2 btn-rounded">FAQ</a>
        </div>
        <div class="btn-container">
          <a href="/logout" class="btn btn-rounded btn-logout">Logout</a>
        </div>
      </div>

      <%- include('_footer 2.ejs') %>
    </div>
  </body>
</html>
