<!DOCTYPE html>
<html lang="en">
<%- include('_header.ejs') %>
<body class="background-night">
  <%- include('_nav_bar.ejs') %>

<div id = "match-wrapper" class = "match-wrapper">
     <!-- Slideshow container -->
    <div id="match-container" class="match-container">
        <!-- Full-width images with number and caption text -->
        <div class="profile-like-container">
            <!-- information -->
            <h2 class="match-title" >Congratulations!</h2>
            <h2 class="match-title" >It's A Match</h2>
            <div class="img-container-profile">
                <div class="user-profile-image" style="background-image: url(<%= user.photo[0] %>);"> </div>
                <div class="user-profile-image" style="background-image: url(<%= secondUser.photo[0] %>);"> </div>
            </div>            
            <p class="match-title">You and <%= secondUser.first_name %> <br> like each other</p>
            <div class="match-btn-container">
                <a href="/chat/<%= secondUser._id%>" class="match-btn">Send Message</a> 
                <a href="/userList" button class="match-btn">Keep Swiping</a>
            </div>
        </div>
    </div>
</div>    
<script>
    const size = function (event) {
      document.getElementById("match-wrapper").style.height = ($(window).height()-165)+"px";
    }
    window.addEventListener('resize', size, true);
    window.addEventListener('load', size, true);
  </script>

<%- include('_footer.ejs') %>
</body>
</html>