<!DOCTYPE html>
<html lang="en">

<%- include('_header.ejs') %>

<body class="background-white" onload="showSlides(1)">

  <%- include('_nav_bar.ejs') %>
  
  <div class="user-container">
    <div class="intro-container-profile">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="/get_photo/<%= secondUser.photo[0] %>" >
        </div>

        <div class="mySlides fade">
          <img src="/get_photo/<%= secondUser.photo[1] %>" >
        </div>

        <div class="mySlides fade">
          <img src="/get_photo/<%= secondUser.photo[2] %>" >
        </div>
      </div>     
        
      <div style="text-align:center; margin-bottom: 5%">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <div class="nameBox">
        <h2>
          <%= secondUser.first_name %>
            <span class="age">
              <%= secondUser.age %>, <%= secondUser.zodiac %>
            </span>
        </h2>
        <span class="info">
          <h3><%= secondUser.bio || 'Hello there..!!' %></h3>
          <p><%= secondUser.calculatedDistance %>km away</p>
          <p><%= secondUser.street + ", " + secondUser.province %></p>
        </span>
      </div>   

      <div class="slideSign">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

    </div>

      <!-- information -->
  </div>

  <div class="choice">
    <form action="dislike" method="post">
      <input type="hidden" name="secondUserId" value="<%= secondUser._id %>">
      <input type="submit" class="dislike" value="">
    </form>
    <form action="like" method="post">
      <input type="hidden" name="secondUserId" value="<%= secondUser._id %>">
      <input type="submit" class="like" value="">
    </form>
  </div>


  <%- include('_footer.ejs') %>
  <script src="/vendor/swipe.js"></script>
  <script>
    $(window).on("load resize", function () {
      let windowHeight = $(window).height();
      let nav_bar_height = $('.nav-bar').outerHeight( true );
      let footer_height = $('.footer').outerHeight( true );
      let choices_height = $('.choice').outerHeight( true );
      $('.user-container').outerHeight( windowHeight - nav_bar_height - footer_height - choices_height);
    });

    $('.slideshow-container').onSwipe(function(results) {
      if (results.right === true) {
        plusSlides(1)
      }
      if (results.left === true) {
        plusSlides(-1)
      }
    })
  </script>
  <script>

  </script>
</body>

</html>