<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- <link rel="stylesheet" href="profile.css"> -->
  <link rel="stylesheet" href="main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shrikhand&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/738c285426.js" crossorigin="anonymous"></script>

</head>

<body onload="showSlides(1)">

  <%- include('_nav_bar.ejs') %>
  <div class="user-container">
    <div class="intro-container-profile">
      <!-- Slideshow container -->
      <div class="slideshow-container">
        <!-- The dots/circles -->
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <img src=<%='/upload/' + secondUser.photo[0] %> >
        </div>

        <div class="mySlides fade">
          <img src=<%='/upload/' + secondUser.photo[1] %> >
        </div>

        <div class="mySlides fade">
          <img src=<%='/upload/' + secondUser.photo[2] %>>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- information -->
      <div class="nameBox">
        <h2>
          <%= secondUser.first_name %>
            <span class="age">
              <%= secondUser.age %>, <%= secondUser.zodiac%>
            </span>
        </h2>
        <div class="info">
          <h3>Balance me out</h3>
          <p>19km away</p>
          <p>Lives in North Vancouver</p>
        </div>
      </div>

    </div>

    <div class="choice">
      <form action="dislike" method="post">
        <input type="hidden" name="rating" value="<%= secondUser.id %>">
        <input type="submit" class="dislike" value="Dislike">
      </form>
      <form action="like" method="post">
        <input type="hidden" name="rating" value="<%= secondUser.id %>">
        <input type="submit" class="like" value="Like">
      </form>
    </div>
  </div>

  <%- include('_footer 2.ejs') %>
  <script type="text/javascript" src="/main.js"></script>
  <script src="/vendor/swipe.js"></script>
  <script>
    $('.slideshow-container').onSwipe(function(results) {
      if (results.right === true) {
        plusSlides(1)
      }
      if (results.left === true) {
        plusSlides(-1)
      }
    })
  </script>
</body>

</html>